
@{
    ViewBag.Title = "SyncFtp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Sync";
    ViewBag.href = "/admin/SyncProcess/SyncProcess";
    ViewBag.SubDescription = "Sync FTP";
}

<section class="mainbody">
    <div class="container">
        <h2>Sync Process</h2>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light">

                    <div class="portlet-body">

                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</section>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->






